@import "https://at.alicdn.com/t/font_1194318_m8thtmt4et.css";
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
html {
    font-size: 100px;
}
body {
    font-size: 16px;
    background: #ffffff;
}
i{
    font-style: normal;
}
button{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}
hr{
    border: 0;
}
@media screen and (min-width: 320px) {
    html {
        font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
    html {
        font-size: 48px; } }

@media screen and (min-width: 375px) {
    html {
        font-size: 50px; } }

@media screen and (min-width: 412px) {
    html {
        font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
    html {
        font-size: 55.2px; } }
.top-head{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #ffffff;
    opacity: 1;
    z-index: 9999999;
    box-shadow:0 0rem 0.4rem 0.1rem #ecf8ff;
}
.top-head>.tab{
    padding-bottom: 0.2rem;
}
header{
    height: 0.88rem;
    text-align: center;
    line-height: 0.88rem;
    font-size: 0.38rem;
    font-weight: bold;
    color:#4edbfe;
    position: relative;
    padding:0 0.24rem;
}
header>.pre{
    display:block;
    line-height: 0.88rem;
    position: absolute;
    left: 0.24rem;
    top: 0.02rem;
    color: #36a8fe;
    font-weight: bold;
    font-size: 0.5rem !important;
}
header>.pre::after{
    clear: both;
}
header>.more{
    display:block;
    line-height: 0.88rem;
    position: absolute;
    right: 0.24rem;
    top: 0.02rem;
    color: #36a8fe;
    font-size: 0.5rem !important;
}
.search{
    padding: 0.17rem 0.22rem;
    height: 0.6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.search>span{
    color: #4edbfe;
    line-height: 0.6rem;
    font-size: 0.26rem;
    margin-right: 0.10rem;
}
.search>span>img{
    height: 0.1rem;
    width: 0.17rem;
    margin-left: 0.10rem;
    margin-bottom: 0.05rem;
}
.search>a{
    flex-grow: 1;
    height:0.22rem;
    padding: 0.16rem 0.16rem 0.16rem 0.34rem;
    border: 0.03rem solid #e8f6ff;
    background:#f2faff;
    border-radius: 0.3rem;
    text-align: left;
    line-height: 0.22rem;
    font-size: 0.22rem;
    color: #c8d9e6;
    position: relative;
}
.search>a>span{
    position: absolute;
    right: 0.16rem;
    bottom: 0rem;
}
.search>a>span>img{
    height: 0.45rem;
    width: 0.45rem;
    opacity: 0.71;
}
.drop-down{
    height: 0.92rem;
}
.drop-down>ul{
    height: 0.92rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.drop-down>ul>li{
    color: #3bacfe;
    font-size: 0.22rem;
}
.drop-down>ul>li>span{
    margin-left: 0.1rem;
    font-size: 0.22rem;
}
footer{
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    left: 0;
    bottom: 0;
    height: 1rem;
    width: 100%;
    padding: 0 0.42rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #f8fcff;
    justify-content: space-between;
}
footer>a{
    width: 0.7rem;
    height: 100%;
    text-align: center;
    font-size: 0.24rem;
    color:#59c3fe;
    opacity: 0.5;
}
footer>a>img{
    width: 0.5rem;
    height: 0.46rem;
    margin-top: 0.12rem;
}
.tab-list{
    display: flex;
    flex-direction: row;
    padding: 0 0.2rem;
    flex-wrap: wrap;
    justify-content: center;

}
.tab-list>li{
    margin: 0 0.12rem;
    padding: 0.16rem 0.46rem;
    background: #e7f6ff;
    font-size: 0.18rem;
    color: #3bacfe;
    border-radius: 0.26rem;
}
.select-in{
    box-shadow: 0 0 0.2rem 0.01rem #3bacfe;
}
.details-pic{
    height: 4.94rem;
    display:block;
    overflow: hidden;
    background: #fbfeff;
    padding-top: 1.4rem;
}
.details-pic>img{
    display: block;
    min-height: 3.6rem;
    margin: 0 auto;
    max-width: 3rem;
}
.footer-right{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;
}
.footer-right>a{
    margin-left: 0.3rem;
    font-size: 0.22rem;
    color: #ffffff;
}
.footer-right>a>div{
    padding: 0.16rem 0.38rem;
    border-radius: 0.31rem;
}
.footer-right-first{
    background-image: linear-gradient(90deg,#37e06f,#32d798);
    box-shadow: 0 0 0.3rem 0 #37df72;
}
.footer-right-second{
    background: #3bacfe;
    box-shadow: 0 0 0.3rem 0 #3bacfe;
}
.footer-left{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;
}
.footer-left>a{
    font-size: 0.2rem;
    text-align: center;
}
.footer-left>a>img{
    width: 0.5rem;
    height: 0.5rem;
    display: block;
    margin: 0 auto;
}
.footer-left-first{
    color: #3bacfe;
    text-shadow: 0 0 0.06rem #3bacfe;
}.footer-left-second{
     color:#37df72;
     text-shadow: 0 0 0.06rem #37df72;
     margin-left: 0.58rem;
 }
