article{
    padding: 0.88rem 0.24rem;
}
.earnest-money{
    text-align: center;
    padding: 0.66rem 0;
    border-bottom: 0.02rem solid #f1f4f5;
}
.earnest-money>span{
    font-size: 0.24rem;
    color: #4f5b64;
    font-weight: bold;
    position: relative;
}
.earnest-money>span>i{
    color: #32d796;
    margin: 0 0.1rem;
}
.earnest-money>span::before{
    content: "";
    width: 0.1rem;
    height: 0.05rem;
    background: #32d796;
    border-radius:0.03rem;
    position: absolute;
    left: -0.2rem;
    top: 0.14rem;
    box-shadow:0 0 0.2rem 0 #32d796;
}
.earnest-money>span::after{
    content: "";
    width: 0.1rem;
    height: 0.05rem;
    background: #32d796;
    border-radius:0.03rem;
    position: absolute;
    right: -0.2rem;
    top: 0.14rem;
    box-shadow:0 0 0.2rem 0 #32d796;
}
.payment-method{
    margin: 0.34rem;
}

article>span{
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 2.4rem;
}

article>span>a{
    color: #ffffff;
    font-size: 0.2rem;
    padding: 0.22rem 1.86rem;
    background-image: linear-gradient(90deg,#37e06f,#32d798);
    box-shadow: 0 0 0.3rem 0 #37df72;
    border-radius: 0.31rem;
}
.method-list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.method-list>div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.4rem;
}
.method-list>div:first-child span{
    display: block;
    width: 1.1rem;
    height: 1.1rem;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 0.3rem;
}
.method-list>div:first-child span>img{
    width: 1.1rem;
    height: 1.1rem;
}
.method-list>div:nth-child(2) span{
    font-size: 0.24rem;
    color: #4b4c4c;
}
.method-list>div:nth-child(2) span>i{
    font-size: 0.26rem;
    color: #ff7370;
    font-weight: bold;
    margin: 0 0.02rem;
}
.method-list>div:nth-child(2)>i{
    width: 0.26rem;
    height: 0.26rem;
    background-image: url("../images/023.png");
    background-size: 100%;
    margin-top: 0.04rem;
    margin-left: 0.3rem;
}
.click{
    background-image: url("../images/021.png")!important;
}