.operation>ul{
    padding: 0 0.24rem;
}
.operation>ul>li>a>b{
    position: absolute;
    right: 0;
    bottom:0;
}
.operation>ul>li>a>b:after{
    content: "\eb15";
    font-size: 0.24rem;
    right:0 ;
    bottom: 0;
    color: #d4edff;
}
.operation>ul>li>a>span{
    margin-right: 0.5rem;
}
.operation>ul>li>a>span>img{
    display: inline-block;
    margin-bottom: -0.14rem;
    height: 0.4rem;
    max-width: 0.38rem;
}
.operation>ul>li:nth-child(2) a>span{
    color: #4b4c4c;
}
.operation>ul>li:nth-child(4) a>span{
    color: #36a8fe;
}
.operation>span{
    display: block;
    margin: 1.4rem auto;
    text-align: center;
}
.operation>span>a{
    font-size: 0.2rem;
    color: #ffffff;
    padding: 0.22rem 2.06rem;
    background-image: linear-gradient(90deg,#37e06f,#32d798);
    box-shadow: 0 0 0.3rem 0 #37df72;
    border-radius: 0.31rem;
}